# Compiled Java class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# VS Code settings
.vscode/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws
out/

# Build output directories
bin/
build/

# OS-specific files
.DS_Store
Thumbs.db
